html {
  scroll-behavior: smooth !important;
}

.general_white_richText {
  > p {
    color: #DDDDDD;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
