
.input-field-style {
  // width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 12px 20px;
  color: rgb(27, 27, 27);
  // margin: 8px 0;
  // box-sizing: border-box;
  height: 50px;
}

.textarea-field-style{
  outline: none;
  border-radius: 5px;
  padding: 12px 20px;
  color: rgb(27, 27, 27);
}

// .input-field-style:focus{
//   border: 2px solid red;

// }