.accordion_rich_text{
    font-family: 'Inter', sans-serif; 
font-size: 16px;
color: #575A66;
font-style: normal;
font-weight: 400;
line-height: 24px;
    
}

.faqs-question{
font-family: 'Inter', sans-serif;
}

// .faqs_plus_icon{
//     width: 24px;
//     height: 24px;
//     -webkit-mask-size:24px 24px;
//     display: block;
//     mask-image: url('../../images/xe-icons/plus-icon.svg');
//     -webkit-mask-image: url('../../images/xe-icons/plus-icon.svg');
// }
// .faqs_minus_icon{
//     width: 24px;
//     height: 24px;
//     -webkit-mask-size:24px 24px;
//     display: block;
//     mask-image: url('../../images/xe-icons/plus-icon.svg');
//     -webkit-mask-image: url('../../images/xe-icons/plus-icon.svg');
// }